<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb952671-f393-460a-9b66-863f277d6aaf" Alias="Jack Hamilton EP Ohkgn1ji Unsplash" Level="2">
  <Info>
    <Parent Key="977c2dc4-0cd7-4056-9424-2d8960349854">Profile Images</Parent>
    <Path>/ProfileImages/JackHamiltonEPOhkgn1jiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-05T15:20:01</CreateDate>
    <NodeName Default="Jack Hamilton EP Ohkgn1ji Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o2tjl42t/jack-hamilton-ep_ohkgn1ji-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>