<?xml version="1.0" encoding="utf-8"?>
<Media Key="f47fdc73-515e-48d3-904e-31aac997b841" Alias="Jack Hamilton EP Ohkgn1ji Unsplash (1)" Level="2">
  <Info>
    <Parent Key="977c2dc4-0cd7-4056-9424-2d8960349854">Profile Images</Parent>
    <Path>/ProfileImages/JackHamiltonEPOhkgn1jiUnsplash1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-05T16:07:29</CreateDate>
    <NodeName Default="Jack Hamilton EP Ohkgn1ji Unsplash (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oxoh53c4/jack-hamilton-ep_ohkgn1ji-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>