<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2" Alias="Jack Hamilton EP Ohkgn1ji Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JackHamiltonEPOhkgn1jiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-30T10:29:46</CreateDate>
    <NodeName Default="Jack Hamilton EP Ohkgn1ji Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yhvnr3fm/jack-hamilton-ep_ohkgn1ji-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>