<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c9f91f9-682b-490e-a945-ab1d6f94c579" Alias="Paulius Dragunas Rscwqpg5ydu Unsplash" Level="2">
  <Info>
    <Parent Key="977c2dc4-0cd7-4056-9424-2d8960349854">Profile Images</Parent>
    <Path>/ProfileImages/PauliusDragunasRscwqpg5yduUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-05T16:11:12</CreateDate>
    <NodeName Default="Paulius Dragunas Rscwqpg5ydu Unsplash" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/54ij4lbl/paulius-dragunas-rscwqpg5ydu-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>