<?xml version="1.0" encoding="utf-8"?>
<Media Key="977c2dc4-0cd7-4056-9424-2d8960349854" Alias="Profile Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProfileImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-05T15:18:44</CreateDate>
    <NodeName Default="Profile Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>