<?xml version="1.0" encoding="utf-8"?>
<Media Key="d11abb02-5933-4121-bf04-fae89bc5cf6f" Alias="Screenshot 2023 05 09 123314 (1)" Level="2">
  <Info>
    <Parent Key="977c2dc4-0cd7-4056-9424-2d8960349854">Profile Images</Parent>
    <Path>/ProfileImages/Screenshot202305091233141</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-05T16:06:58</CreateDate>
    <NodeName Default="Screenshot 2023 05 09 123314 (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/as3bvujt/screenshot-2023-05-09-123314.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>