<?xml version="1.0" encoding="utf-8"?>
<Media Key="ded76f69-4160-4352-b3e4-a890445e46be" Alias="Screenshot 2023 05 09 123314" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230509123314</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-05T13:18:59</CreateDate>
    <NodeName Default="Screenshot 2023 05 09 123314" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n3xnpxta/screenshot-2023-05-09-123314.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>