<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f821b5c-c93e-4a4f-b30d-babeda082a27" Alias="Whatsapp Image 2023 05 24 At 09.03.53" Level="2">
  <Info>
    <Parent Key="977c2dc4-0cd7-4056-9424-2d8960349854">Profile Images</Parent>
    <Path>/ProfileImages/WhatsappImage20230524At090353</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-05T16:09:25</CreateDate>
    <NodeName Default="Whatsapp Image 2023 05 24 At 09.03.53" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/linjedz4/whatsapp-image-2023-05-24-at-090353.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>