<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33bdc27a-6fc5-4b6a-9ee2-69036945f672" Alias="accordionRow" Level="4">
  <Info>
    <Name>Accordion Row</Name>
    <Icon>icon-ordered-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="88273979-37ec-47d6-8136-e67292f4bb01">descriptionProperty</Composition>
      <Composition Key="54497521-4730-4baf-99c4-9ae4e2ffcc40">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>967b790b-ed06-4c11-ad6f-6116104729ab</Key>
      <Name>Accordian Items</Name>
      <Alias>accordianItems</Alias>
      <Definition>b8780ae9-564d-405e-a298-80b4fc12c74a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a46c59d3-bc48-4cb0-9e36-8306030d7da5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>