<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9e1b679-6f64-416b-880d-1cdba36b793a" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-addressbook color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="69ce0e2b-0463-49ad-a543-942e427aa800">headerProperties</Composition>
      <Composition Key="3ea83456-5311-43ba-b6ac-0f50b222925a">titleBox</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="33c0856b-e0af-45e1-91a2-a385e7b1de6d">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6c337868-8173-49dd-ab13-e19de74c17d0" SortOrder="0">blogItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f4206f30-b7f0-4143-bee9-b26f64342eee</Key>
      <Name>Featured Story</Name>
      <Alias>featuredStory</Alias>
      <Definition>87fc2d1d-4931-41d2-a28e-81bba70ab6fc</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8c88237c-7c3d-4373-bb89-640766d6befa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>