<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0830003e-f8cd-4f5a-9e37-e43fc0480149" Alias="editProfile" Level="2">
  <Info>
    <Name>Edit Profile</Name>
    <Icon>icon-document-dashed-line color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>EditProfile</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f71b2a8a-cd0f-4658-b5ef-79e9d9f2f12c">EditProfile</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0830003e-f8cd-4f5a-9e37-e43fc0480149" SortOrder="0">editProfile</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>