<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="441146eb-0c52-4930-a9f5-59259be6c06d" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="321fb7c4-39b7-4b98-ba8d-9b52aeae2ae0">footerProperties</Composition>
      <Composition Key="69ce0e2b-0463-49ad-a543-942e427aa800">headerProperties</Composition>
      <Composition Key="73c47961-89ec-461c-bc76-e7989180fe76">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9e7c89a1-3e00-45a6-abff-321468af1aad">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ff481f35-5c79-40f1-9bf7-dd9d8d504065" SortOrder="0">contentPage</ContentType>
    <ContentType Key="dd02bc00-3093-49ec-840d-13f12b167e0d" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="729b400f-cba4-4b30-98a6-59c466dd89c4" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>