<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ba56bb0-981d-41de-a943-0002761a9af6" Alias="loginPage" Level="2">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-logout color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c80e318c-7364-407f-9b80-49dc521e5de8">contentProperties</Composition>
      <Composition Key="321fb7c4-39b7-4b98-ba8d-9b52aeae2ae0">footerProperties</Composition>
      <Composition Key="69ce0e2b-0463-49ad-a543-942e427aa800">headerProperties</Composition>
      <Composition Key="73c47961-89ec-461c-bc76-e7989180fe76">siteNavigationProperties</Composition>
      <Composition Key="8c03d118-b32f-4924-8948-c6f934efd969">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3ca18f0b-11a7-455f-873f-448e7d96cdb5">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5bf311c5-e62d-4bb8-88b6-c02501ddb55e" SortOrder="0">secure</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>