<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="846bf6d0-de95-4d94-acd7-b08bd1f61cf4" Alias="login" Level="2">
  <Info>
    <Name>Login</Name>
    <Icon>icon-logout color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="69ce0e2b-0463-49ad-a543-942e427aa800">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="52313ddd-6fb9-489c-8935-e0284ed78b6c">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0830003e-f8cd-4f5a-9e37-e43fc0480149" SortOrder="0">editProfile</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>