<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a472e5a-84b8-4fdc-a6cf-0f747f323a21" Alias="profile" Level="2">
  <Info>
    <Name>Profile</Name>
    <Icon>icon-user-glasses color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="69ce0e2b-0463-49ad-a543-942e427aa800">headerProperties</Composition>
      <Composition Key="8c03d118-b32f-4924-8948-c6f934efd969">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Profile</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da994561-f05c-49e8-bde5-470e93cd38f3">Profile</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0830003e-f8cd-4f5a-9e37-e43fc0480149" SortOrder="0">editProfile</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8e36ab88-585f-4771-bb63-14af8aa664ef</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>b9f7cfdc-f832-461b-b69c-9cf187936e0c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>64f5df88-2ad6-4aee-9085-0d1ec5d47deb</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>