<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df35858f-845b-423e-815d-de6987b24b7f" Alias="projectPreviewSettings" Level="4">
  <Info>
    <Name>Project Preview Settings</Name>
    <Icon>icon-settings-alt-2 color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="8c03d118-b32f-4924-8948-c6f934efd969">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ecd6df54-eb45-473a-b5a6-64372a412597</Key>
      <Name>Icon Name</Name>
      <Alias>iconName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c2c2294f-79c6-4854-bdfe-fee0d56c1ba1</Key>
      <Caption>Visibility</Caption>
      <Alias>visibility</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>