<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70f84593-e76c-4338-9ff2-b556f007f355" Alias="quoteRowSettings" Level="4">
  <Info>
    <Name>Quote Row Settings</Name>
    <Icon>icon-settings-alt-2 color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="89df6bb3-9a3a-4448-adf3-9fe77aed879c">blockVisibilitySettings</Composition>
      <Composition Key="54d07ebc-6457-4dbe-b620-9364cab5f5bb">textAlignSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>