<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c35c459-9c03-4b4d-9a75-35ec635d5196" Alias="register" Level="2">
  <Info>
    <Name>Register</Name>
    <Icon>icon-autofill color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="69ce0e2b-0463-49ad-a543-942e427aa800">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>Register</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fdce21b5-4f75-4c56-b60c-1c96d41cfbe3">Register</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>958f7c4f-48e2-44b6-b1a1-5889b8aaee63</Key>
      <Name>Member Type</Name>
      <Alias>memberType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5df0f749-1478-4171-a174-56f4b321b9b2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>