<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="984b096f-532f-4eb0-b6fe-be020d19b2a2" Alias="schedulePage" Level="2">
  <Info>
    <Name>Schedule Page</Name>
    <Icon>icon-calendar-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="69ce0e2b-0463-49ad-a543-942e427aa800">headerProperties</Composition>
      <Composition Key="8c03d118-b32f-4924-8948-c6f934efd969">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SchedulePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="67d90243-92a0-40ec-a802-7bff019656f5">SchedulePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4fa1bd26-58c5-4a55-a63d-dea635efa335</Key>
      <Name>Days</Name>
      <Alias>days</Alias>
      <Definition>2e201ddc-4bf8-4515-a29e-5f6ebf3ed92d</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[enter the days in the week]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76e0a698-ec57-4a5f-a28f-36d2b7f8a2c7</Key>
      <Name>Routine</Name>
      <Alias>routine</Alias>
      <Definition>2e201ddc-4bf8-4515-a29e-5f6ebf3ed92d</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[enter the routine times]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aee13faa-2806-42a3-bd58-7a9d0201f7ac</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>81</SortOrder>
    </Tab>
  </Tabs>
</ContentType>