<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5bf311c5-e62d-4bb8-88b6-c02501ddb55e" Alias="secure" Level="2">
  <Info>
    <Name>Secure</Name>
    <Icon>icon-lock color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c80e318c-7364-407f-9b80-49dc521e5de8">contentProperties</Composition>
      <Composition Key="321fb7c4-39b7-4b98-ba8d-9b52aeae2ae0">footerProperties</Composition>
      <Composition Key="73c47961-89ec-461c-bc76-e7989180fe76">siteNavigationProperties</Composition>
      <Composition Key="8c03d118-b32f-4924-8948-c6f934efd969">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Secure</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3ac00be-e060-4478-b0c7-9a3f1b4130ad">Secure</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e210a5f6-b5e6-419c-8378-5d63c41138b7</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ba51590b-c175-4e93-b305-a574f231182f</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a536da0-c291-41d3-9863-4e23c0c7bba5</Key>
      <Name>Sub Title</Name>
      <Alias>subTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9b6ef59-bd48-4a8c-b245-6d7dfd034c8b</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e546b92a-c61f-4b6c-8646-de2bf2889a60</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>