<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e93800a6-a3bc-454c-808f-59e3e1a35f05" Alias="trainingModule" Level="4">
  <Info>
    <Name>Training Module</Name>
    <Icon>icon-library color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This will contain biggest part of training, like warm up, explosivity, strength, conditioning</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="54497521-4730-4baf-99c4-9ae4e2ffcc40">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bc32441a-df95-4346-ad51-fcf91d932f58</Key>
      <Name>Training Items</Name>
      <Alias>trainingItems</Alias>
      <Definition>f4a42605-b05f-452e-8117-62f9a997e1a3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the warm up, strength and conditioning items]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a148ab34-9b6c-4800-96ae-dc14190c7f0b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>