<?xml version="1.0" encoding="utf-8"?>
<DataType Key="824b8946-82c7-48d4-817f-b576ec521306" Alias="[BlockList] Carousel Item" Level="1">
  <Info>
    <Name>[BlockList] Carousel Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6010404c-f460-4125-ae9f-aaaaa7f81933",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Slide ' + $index}}  {{$settings.hide == '1' ? '[HIDDEN}' : ''}}",
      "settingsElementTypeKey": "812012f5-a781-4e90-ae93-9686016a914e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>