<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9f7cfdc-f832-461b-b69c-9cf187936e0c" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "de049c1d-c421-4001-bc60-46e095571f2a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Rich Text' + $index }}  {{$settings.hide == '1' ? '[HIDDEN}' : ''}}",
      "settingsElementTypeKey": "07f95d27-c25f-4a98-bf59-53886f4efb98",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3cadf91c-52b9-4eca-ac17-b1b714a908bb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Image Row' + $index}}  {{$settings.hide == '1' ? '[HIDDEN}' : ''}}",
      "settingsElementTypeKey": "f44ba848-fbb6-4e53-a7bb-710acb652fb9",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2440c896-deee-447a-8bfc-948ed9d0641a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Featured Item' + $index}}  {{$settings.hide == '1' ? '[HIDDEN}' : ''}}",
      "settingsElementTypeKey": "612cb676-bfb6-44ba-8b38-7e3fd33219d8",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "33bdc27a-6fc5-4b6a-9ee2-69036945f672",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accoridon' + $index}}  {{$settings.hide == '1' ? '[HIDDEN}' : ''}}",
      "settingsElementTypeKey": "352ce5ce-0129-498d-b749-268234e4690c",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6a93bf19-e5bd-4de9-906c-ccc29020a00e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Quote ' +  $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "70f84593-e76c-4338-9ff2-b556f007f355",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3f2cef8e-326a-4de8-97ff-5dc77e30979f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Carousel' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "bd72b2bf-9f5a-46c1-92e2-765bc0b4220e",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": "#2986cc",
      "contentElementTypeKey": "37de03ae-7e7c-4cb9-8f5d-962baa610720",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Cards Row",
      "settingsElementTypeKey": "5972a4a6-4345-4f01-acc7-93375ea82d6e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#2986cc",
      "contentElementTypeKey": "566d59ef-8f5e-4a08-bc04-fee02f95941c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Call To Action",
      "settingsElementTypeKey": "de75d64b-0584-4aa8-adf0-872f225300ec",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#2986cc",
      "contentElementTypeKey": "f54efa2d-42aa-442f-a3e5-c895c199a283",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "df35858f-845b-423e-815d-de6987b24b7f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>