<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f649533-fc42-4674-85d8-cacd054cc454" Alias="[BlockList] Training Module" Level="1">
  <Info>
    <Name>[BlockList] Training Module</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e93800a6-a3bc-454c-808f-59e3e1a35f05",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Training Module' + $index}}",
      "settingsElementTypeKey": "254ff671-2ead-4c2c-a3f4-86fbda78da4f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>