<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8780ae9-564d-405e-a298-80b4fc12c74a" Alias="[BlockList] Accordian List" Level="1">
  <Info>
    <Name>[BlockList] Accordian List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fd8f1706-d715-4335-b499-63de7b5fdfd1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accoridon Item' + $index}}  {{$settings.hide == '1' ? '[HIDDEN}' : ''}}",
      "settingsElementTypeKey": "3463aa08-5351-44ed-9ab4-7ad8e0e24e27",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>