<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b17a17ef-a7ca-4ddb-b6c9-3233153aa6dc" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a62f80b0-183e-4a74-96c6-fdb37fa82fa8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Image Link' + $index}}  {{$settings.hide == '1' ? '[HIDDEN}' : ''}}",
      "settingsElementTypeKey": "7c145dbe-5acc-423f-ab1a-63b3630f1c85",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>