<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af7622ec-e9ea-4f36-bef9-e374afeca010" Alias="[Block List]  Cards" Level="1">
  <Info>
    <Name>[Block List]  Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1a101139-66d4-4990-a40c-b65964b93db5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !title || title == ''  ?  'Icon Card ' + $index : title}} {{$settings.hide== '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>