<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4a42605-b05f-452e-8117-62f9a997e1a3" Alias="[BlockList] Training Item" Level="1">
  <Info>
    <Name>[BlockList] Training Item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c578b9ae-3a68-4ce3-8096-af3fa329c364",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Exercise Item' + $index}}",
      "settingsElementTypeKey": "a150c332-4999-4aa8-95ad-f8a20dcdc84d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>