<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87fc2d1d-4931-41d2-a28e-81bba70ab6fc" Alias="Blog - Featured Story Content" Level="1">
  <Info>
    <Name>Blog - Featured Story Content</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": null
}]]></Config>
</DataType>