<?xml version="1.0" encoding="utf-8"?>
<DataType Key="235193ae-3ad4-4918-af85-783546d6f760" Alias="Categories - Tags" Level="1">
  <Info>
    <Name>Categories - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>