<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad6c62e8-9b14-4551-9057-57297803166e" Alias="[CheckboxList] Skills" Level="1">
  <Info>
    <Name>[CheckboxList] Skills</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 4,
      "value": "Umbraco"
    },
    {
      "id": 5,
      "value": "JavaScript"
    },
    {
      "id": 6,
      "value": "Dotnet"
    }
  ]
}]]></Config>
</DataType>