<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56fbc33c-fd7b-4a78-9c07-a664103a1db5" Alias="[Dropdown Icon List]" Level="1">
  <Info>
    <Name>[Dropdown Icon List]</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Alert"
    },
    {
      "id": 2,
      "value": "Alert Circled"
    },
    {
      "id": 3,
      "value": "Android App"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>