<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5670fe3-7c03-47c6-9fd3-c0def296cb6c" Alias="[Dropdown] Job Titles" Level="1">
  <Info>
    <Name>[Dropdown] Job Titles</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Web Designer"
    },
    {
      "id": 2,
      "value": "Web Developer"
    },
    {
      "id": 3,
      "value": "Project Manager"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>