<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54b10f7b-faaa-4890-8f22-66033070caa7" Alias="GMaps" Level="1">
  <Info>
    <Name>GMaps</Name>
    <EditorAlias>Our.Umbraco.GMaps</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "apikey": "AIzaSyBYskHWfICtli6OI8vdT-b5_T09DF1v2Os",
  "location": "52.379189, 4.899431",
  "zoom": 17,
  "maptype": "Roadmap"
}]]></Config>
</DataType>