<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6689171b-0a7a-4b7f-a84c-c1435dfc625e" Alias="Multi URL Picker" Level="1">
  <Info>
    <Name>Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>