<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdb53dc0-7197-4c41-acec-81f31d7262ca" Alias="[RadioButtonList] Colours" Level="1">
  <Info>
    <Name>[RadioButtonList] Colours</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": []
}]]></Config>
</DataType>