<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e201ddc-4bf8-4515-a29e-5f6ebf3ed92d" Alias="Repeatable textstrings" Level="1">
  <Info>
    <Name>Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>