<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba51590b-c175-4e93-b305-a574f231182f" Alias="[RichTextEditor] Simple Rte" Level="1">
  <Info>
    <Name>[RichTextEditor] Simple Rte</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>