<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fd394bfa-a3df-46d1-be4d-98488d36388b" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright Vladimir Sec</Translation>
  </Translations>
</Dictionary>