<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4c8701b-f132-48d5-9e29-f66374bc2987" Alias="Blog" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-06-09T12:57:19</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="33c0856b-e0af-45e1-91a2-a385e7b1de6d">Blog</Template>
  </Info>
  <Properties>
    <blogSubtitle>
      <Value><![CDATA[]]></Value>
    </blogSubtitle>
    <blogTitle>
      <Value><![CDATA[]]></Value>
    </blogTitle>
    <featuredStory>
      <Value><![CDATA[umb://document/14210b9e69ed45f7a5301f591f2307c9]]></Value>
    </featuredStory>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "595b66f1-b644-4c48-b5c8-9e5fff558b7b",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>