<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0e008f0-44b2-4635-b30e-e46d9eeb8dcb" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-05-30T13:20:52</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ff86316-1680-4a36-8f2c-6972672025d7">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "af1ffd3a-1b43-4c30-8959-c25eca098b96",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>