<?xml version="1.0" encoding="utf-8"?>
<Content Key="54945b04-11b0-4298-93e0-6f8592e03474" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-06-06T13:08:46</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a7fd9581-78ed-4c38-bcea-b1daca9eedba">Contact</Template>
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[<p>There was an error sending form</p>]]></Value>
    </errorMessage>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "a265d16f-ed95-4ad6-889a-14bcce20be6c",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <thankYouMessage>
      <Value><![CDATA[<p>Form has been successfully sent</p>]]></Value>
    </thankYouMessage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>