<?xml version="1.0" encoding="utf-8"?>
<Content Key="05c9463c-264d-45a1-a0be-0537f9e0e9d8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-06-06T12:58:05</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[]]></Value>
    </errorMessage>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9ac47d00-95a4-4b50-b8f6-b4f3e32686d0",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <thankYouMessage>
      <Value><![CDATA[]]></Value>
    </thankYouMessage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>