<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b873251-acc1-4e5d-aafc-a9607f7e6e11" Alias="Edit Profile" Level="3">
  <Info>
    <Parent Key="13c68705-ba4f-4a84-a7b6-c4a745236579">Profile</Parent>
    <Path>/Home/Profile/EditProfile</Path>
    <Trashed>false</Trashed>
    <ContentType>editProfile</ContentType>
    <CreateDate>2023-06-05T10:01:22</CreateDate>
    <NodeName Default="Edit Profile" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f71b2a8a-cd0f-4658-b5ef-79e9d9f2f12c">EditProfile</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "4a67d8b2-1800-43a9-b68e-f353d8dc2b3c",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>