<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-05-30T10:02:50</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9e7c89a1-3e00-45a6-abff-321468af1aad">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLInks>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/CodeSharePaul"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/vladazero1"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/PaulSealUK"
  }
]]]></Value>
    </footerSocialLInks>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "e8100655-fa5b-4f0c-b3a7-c875b20e5602",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/5dfe2eac6e20482f9441b973cd64fdf1"
  },
  {
    "name": "About",
    "udi": "umb://document/804cef5316ba4649b5b6c16323da332d"
  },
  {
    "name": "Blog",
    "udi": "umb://document/f41d3dfed02a49e58ad23361eee2d35c"
  },
  {
    "name": "Contact",
    "udi": "umb://document/a0e008f044b24635b30ee46d9eeb8dcb"
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog webiste for Vladimir]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Vladimir's site]]></Value>
    </title>
  </Properties>
</Content>