<?xml version="1.0" encoding="utf-8"?>
<Content Key="e60ef840-4eb5-46c1-85bd-f846c9c95f62" Alias="Login" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2023-06-01T13:59:19</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ca18f0b-11a7-455f-873f-448e7d96cdb5">LoginPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <footerSocialLInks>
      <Value><![CDATA[]]></Value>
    </footerSocialLInks>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c4ba97cf-ad7f-4fd1-a60b-a8d6cc594684",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[This is Login Page]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Login]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>