<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6ee070c-a7ce-49c5-929b-6dac455e303d" Alias="Login" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2023-06-05T09:51:46</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="52313ddd-6fb9-489c-8935-e0284ed78b6c">Login</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9e55073e-4d33-482e-9786-88bba5404953",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>