<?xml version="1.0" encoding="utf-8"?>
<Content Key="13c68705-ba4f-4a84-a7b6-c4a745236579" Alias="Profile" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Profile</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2023-06-05T09:44:19</CreateDate>
    <NodeName Default="Profile" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="da994561-f05c-49e8-bde5-470e93cd38f3">Profile</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ec2aa605e24e45a19a26db826b9d3ec0",
        "settingsUdi": "umb://element/0be68d200b764f66bb2287ed83cfefc6"
      },
      {
        "contentUdi": "umb://element/a1078e5db89e453fbb9f2e33da1cb8fb",
        "settingsUdi": "umb://element/a22f34741f5f4ee099f422e0623fe570"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "566d59ef-8f5e-4a08-bc04-fee02f95941c",
      "udi": "umb://element/ec2aa605e24e45a19a26db826b9d3ec0",
      "text": "Nesto",
      "link": "[{\"name\":\"Edit Profile\",\"udi\":\"umb://document/2b873251acc14e5daafca9607f7e6e11\"}]"
    },
    {
      "contentTypeKey": "f54efa2d-42aa-442f-a3e5-c895c199a283",
      "udi": "umb://element/a1078e5db89e453fbb9f2e33da1cb8fb",
      "title": "Nesto",
      "description": "NestoNesto",
      "image": "[\r\n  {\r\n    \"key\": \"eb7a7e72-121b-4ed8-be0a-7eac21b0d1d7\",\r\n    \"mediaKey\": \"f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "de75d64b-0584-4aa8-adf0-872f225300ec",
      "udi": "umb://element/0be68d200b764f66bb2287ed83cfefc6"
    },
    {
      "contentTypeKey": "df35858f-845b-423e-815d-de6987b24b7f",
      "udi": "umb://element/a22f34741f5f4ee099f422e0623fe570"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "5b2bf3c8-7312-4f8a-8598-081c767b132a",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>