<?xml version="1.0" encoding="utf-8"?>
<Content Key="08d9b30d-fb4a-4bfd-9821-b27173ab8d3b" Alias="Register" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2023-06-05T09:56:53</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fdce21b5-4f75-4c56-b60c-1c96d41cfbe3">Register</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "c7730cd8-8d32-4d06-9ed9-06c57f696738",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <memberType>
      <Value><![CDATA[]]></Value>
    </memberType>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>