<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf382805-2163-43b9-933d-d49f69c2f74d" Alias="Schedule" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Schedule</Path>
    <Trashed>false</Trashed>
    <ContentType>schedulePage</ContentType>
    <CreateDate>2023-06-07T12:35:07</CreateDate>
    <NodeName Default="Schedule" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67d90243-92a0-40ec-a802-7bff019656f5">SchedulePage</Template>
  </Info>
  <Properties>
    <days>
      <Value><![CDATA[Monday
Tuesday
Wednesday
Thursday
Friday
Saturday]]></Value>
    </days>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "56669b8b-c210-4cb9-ac58-a1f4eceb8206",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <routine>
      <Value><![CDATA[10 am
11 am
03 pm
05 pm
07 pm]]></Value>
    </routine>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>