<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f29f5e0-5133-4671-9df0-a297c567e087" Alias="Secure" Level="3">
  <Info>
    <Parent Key="e60ef840-4eb5-46c1-85bd-f846c9c95f62">Login</Parent>
    <Path>/Home/Login/Secure</Path>
    <Trashed>false</Trashed>
    <ContentType>secure</ContentType>
    <CreateDate>2023-06-01T13:59:30</CreateDate>
    <NodeName Default="Secure" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3ac00be-e060-4478-b0c7-9a3f1b4130ad">Secure</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[<p>Secure</p>]]></Value>
    </content>
    <subTitle>
      <Value><![CDATA[Secure]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Secure]]></Value>
    </title>
  </Properties>
</Content>