<?xml version="1.0" encoding="utf-8"?>
<Content Key="d11ec894-939c-49ee-bc3a-ad526dc3a1db" Alias="Settings" Level="2">
  <Info>
    <Parent Key="5dfe2eac-6e20-482f-9441-b973cd64fdf1">Home</Parent>
    <Path>/Home/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-06-01T15:39:45</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "28d34792-72e3-40ab-b518-f1f9dee1cd47",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <memberPageUrl>
      <Value><![CDATA[[
  {
    "name": "Secure",
    "udi": "umb://document/6f29f5e0513346719df0a297c567e087"
  }
]]]></Value>
    </memberPageUrl>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>