<?xml version="1.0" encoding="utf-8"?>
<Content Key="14210b9e-69ed-45f7-a530-1f591f2307c9" Alias="Sportski Blog" Level="3">
  <Info>
    <Parent Key="d4c8701b-f132-48d5-9e29-f66374bc2987">Blog</Parent>
    <Path>/Home/Blog/SportskiBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2023-06-09T14:22:16</CreateDate>
    <NodeName Default="Sportski Blog" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="281c1ba7-cb11-49b5-abfe-b30cd0200431">BlogItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Vladimir Sec]]></Value>
    </authorName>
    <blogSubtitle>
      <Value><![CDATA[Sabtajtl se ionako ne prikazuje]]></Value>
    </blogSubtitle>
    <blogTitle>
      <Value><![CDATA[Blog u vezi sa treningom]]></Value>
    </blogTitle>
    <bodyText>
      <Value><![CDATA[<p><strong>Lorem Ipsum</strong><span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>
<figure><img src="?rmode=max&amp;width=500" alt="zaba" width="500" height="390" data-udi="umb://media/f4d8ebc7e1ac4e99bfa596156a2bcca2" data-caption="Ovo je zaba">
<figcaption>Ovo je zaba</figcaption>
</figure>
<p> </p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[[
  "Sport"
]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[Nesto o sportu]]></Value>
    </introText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "f8ce26ac-ae61-43f0-a4bc-c948fd2282e6",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <publishedOn>
      <Value><![CDATA[2023-06-09T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "ca380147-a3aa-4682-a598-277d1e2e49f5",
    "mediaKey": "ded76f69-4160-4352-b3e4-a890445e46be"
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>