<?xml version="1.0" encoding="utf-8"?>
<Content Key="1327eb84-8f19-4f1c-a0db-f8f55cfd6be1" Alias="Third Blog Item" Level="3">
  <Info>
    <Parent Key="d4c8701b-f132-48d5-9e29-f66374bc2987">Blog</Parent>
    <Path>/Home/Blog/ThirdBlogItem</Path>
    <Trashed>false</Trashed>
    <ContentType>blogItem</ContentType>
    <CreateDate>2023-06-09T13:05:20</CreateDate>
    <NodeName Default="Third Blog Item" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="281c1ba7-cb11-49b5-abfe-b30cd0200431">BlogItem</Template>
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Busra Sengul]]></Value>
    </authorName>
    <blogSubtitle>
      <Value><![CDATA[ Ovo je opis bloka broj 2 ]]></Value>
    </blogSubtitle>
    <blogTitle>
      <Value><![CDATA[Ovo je blog broj 2 ]]></Value>
    </blogTitle>
    <bodyText>
      <Value><![CDATA[<h2><strong>What we are working on right now</strong></h2>
<p> </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac hendrerit diam. Duis consequat bibendum libero, faucibus viverra leo. Vivamus sit amet leo egestas, porta urna ac, iaculis nulla. Vestibulum vitae magna in tellus maximus hendrerit. Sed pharetra massa mi, eget laoreet justo porta at. Donec consequat diam sagittis mauris luctus consectetur in porta turpis. Aenean dapibus ipsum ut ullamcorper tempus. Ut gravida lacus sed urna tincidunt hendrerit. Nunc molestie massa nec viverra accumsan. Suspendisse a diam non diam dictum lacinia ut in orci. Quisque quis viverra sapien. Pellentesque erat erat, facilisis quis arcu id, tristique tristique felis.</p>
<p>Nam ac mauris mollis, accumsan erat a, euismod metus. Nunc lobortis enim at dui dignissim sodales. Duis vitae nisi tellus. Vivamus mattis elit lacus, eget convallis augue tristique et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam eros vitae ornare mattis. In auctor, risus sed malesuada tempor, sapien ipsum pharetra nisl, id pulvinar mauris turpis at justo.</p>
<p>Duis leo arcu, porttitor euismod nibh nec, blandit consectetur nisi. Donec est neque, fermentum ac accumsan quis, convallis nec est. Curabitur et ante nec orci accumsan posuere vel in enim. Ut sed urna id diam elementum bibendum. Curabitur finibus, velit ac vestibulum interdum, dolor sapien mattis ligula, sit amet posuere purus lectus et magna. Integer sed ex a elit venenatis maximus. Nullam malesuada in justo non iaculis. Duis placerat finibus fermentum. Morbi ornare interdum dui, sed aliquam massa dictum eget.</p>
<p>Nam quis sollicitudin lectus, consectetur molestie enim. Phasellus vitae tellus congue, ultrices elit eget, ullamcorper ipsum. Suspendisse ut diam aliquet, gravida ligula quis, aliquam nisl. Vivamus fringilla nisl vel dui condimentum, in vestibulum tellus semper. Aliquam vitae mauris ac purus suscipit porttitor. Ut quis nibh varius, ornare metus ut, vehicula felis. Phasellus rutrum sed sem ac eleifend. Aenean aliquam eleifend rhoncus. Morbi sagittis ipsum id augue mollis luctus. Aliquam eget sem leo. Cras ut tortor pulvinar, pellentesque purus id, elementum nulla. Curabitur feugiat gravida est vitae congue. Donec vitae dui viverra, vestibulum est vel, tristique ipsum. Integer quis ex vehicula, tincidunt lacus a, lobortis leo.</p>
<p>Donec ut velit lacus. Phasellus mattis dui ipsum, congue dictum elit laoreet ut. Curabitur lacinia porta tortor, id feugiat diam luctus vitae. Quisque pretium velit orci, sed maximus velit condimentum eu. Vestibulum viverra lacus sapien. Nunc et fermentum lacus, id ultricies tellus. Pellentesque dignissim dapibus lorem eget porta. Ut suscipit sodales dolor, ut pulvinar felis.</p>]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[[
  "Community",
  "Documentation",
  "Umbraco"
]]]></Value>
    </categories>
    <introText>
      <Value><![CDATA[This is the first blog from the Documentation Curator's team in Sofie's absence.]]></Value>
    </introText>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "5680de68-f565-4e9b-a0fb-a11d23cce5e5",
    "mediaKey": "f4d8ebc7-e1ac-4e99-bfa5-96156a2bcca2"
  }
]]]></Value>
    </mainImage>
    <publishedOn>
      <Value><![CDATA[2021-07-05T00:00:00]]></Value>
    </publishedOn>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "9bd24a6d-b38b-400d-a804-ea7e417ccb78",
    "mediaKey": "edea9bb6-af67-46f1-9143-c23159166ad2"
  }
]]]></Value>
    </thumbnailImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>